.docu-heading {
    padding-top: var(--size-xl);
    padding-bottom: var(--size-xl);
}

.docu-subheading-no2 {
    color: var(--color-font);
}

.how-to-introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: var(--size-xl);

    p{
        color: var(--color-font);
        line-height: var(--size-l);
        font-size: var(--size-s);

        a {
            color: var(--color-highlight);
            font-weight: 700;
            font-size: var(--size-s);
        }
    }
    img {
        width: 50%;
    }
}

.docu-heading-div {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    gap: var(--size-xs);
    height: calc(2 * var(--size-xl));

    .docu-heading-expl {
        color: rgb(187, 187, 187);
        font-size: var(--size-s);
        font-weight: 600;
    }
}

.highlight-word {
    font-weight: 700;
}

.docu-p-content {
    width: 70%;
    line-height: var(--size-l);
    color: var(--color-font);
    padding-top: var(--size-xs);
    padding-bottom: var(--size-xl);
    font-size: var(--size-s);
}

@media (max-width: 768px) {
    .docu-heading {
        padding-top: var(--size-xs);
        padding-bottom: var(--size-m);
        font-size: var(--size-l);
    }

    .how-to-introduction {
        flex-direction: column;
        padding-bottom: var(--size-m);
        gap: var(--size-m);

        p {
            font-size: var(--size-xs);
            line-height: var(--size-m);

            .highlight-word {
                font-size: var(--size-xs);
            }
        }

        img {
            width: 100%;
            max-width: 400px;
        }
    }

    .docu-heading-div {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--size-xs);
        height: auto;
        padding-bottom: 0;
        padding-top: var(--size-xs);

        .docu-heading-expl {
            font-size: var(--size-xs);
        }
    }

    .docu-p-content {
        width: 100%;
        font-size: var(--size-xs);
        padding-top: var(--size-xs);
        padding-bottom: var(--size-m);
        line-height: var(--size-m);
    }

    .docu-subheading-no2 {
        font-size: var(--size-s);
    }
}

