.customMarker .leaflet-popup-content-wrapper {
    background-color: white;
    border: 5px solid var(--color-compl);
    color: black;
}

.customMarker .leaflet-popup-tip {
    background-color: var(--color-compl);
}

.customMarker .leaflet-popup-content {
    margin: 4px var(--size-s) 8px var(--size-s);
    font-size: var(--size-xs);
    font-weight: 700;
    font-family: "Figtree";
    text-transform: uppercase;
    text-align: center;
}

.customMarker .leaflet-popup-close-button {
    display: none;
}

#map {
    position: relative;
}

.flight-menu-container {
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--size-xl);
    padding: var(--size-l);
    background-color: var(--color-bg);
    z-index: 1000;
    height: auto;
    color: var(--color-font);
    border: 4px solid var(--color-highlight);

    .flight-menu {
        .flight-icao {
            padding-bottom: 8px;
            font-size: 36px;
        }

        .flight-aircraft {
            font-size: var(--size-m);
        }

        .flight-route {
            padding-top: var(--size-xl);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--size-xl);
            
            .flight-start, .flight-end {
                background-color: var(--color-highlight);
                color: var(--color-bg);
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: var(--size-s);

                .flight-dep-iata, .flight-arr-iata {
                    font-size: var(--size-m);
                    font-weight: 700;
                    padding-bottom: var(--size-xs);
                }
            }
            
        }

        .progress-max {
            position: relative;
            margin-top: var(--size-s);
            width: 100%;
            height: var(--size-m);
            background-color: lightgrey;
        }

        .progress-max::after {
            position: absolute;
            content: '';
            left: 0;
            top: 0;
            width: var(--after-width, 10%);
            height: 100%;
            background-color: var(--color-compl);
        }


    }
}
