#map {
    position: relative;
}

.flight-menu-container {
    position: absolute;
    right: 0;
    top: 0;
    margin: var(--size-xl);
    padding: var(--size-l);
    background-color: var(--color-bg);
    z-index: 1000;
    height: auto;
    color: var(--color-font);
    border: 4px solid var(--color-highlight);

    .flight-menu {
        .flight-icao {
            padding-bottom: 8px;
            font-size: 36px;
        }

        .flight-aircraft {
            font-size: var(--size-m);
        }

        .flight-route {
            padding-top: var(--size-xl);
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: var(--size-xl);

            .flight-start,
            .flight-end {
                background-color: var(--color-highlight);
                color: var(--color-bg);
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: var(--size-s);

                .flight-dep-iata,
                .flight-arr-iata {
                    font-size: var(--size-m);
                    font-weight: 700;
                    padding-bottom: var(--size-xs);
                }
            }
        }

        .progress-max {
            position: relative;
            margin-top: var(--size-s);
            width: 100%;
            height: var(--size-m);
            background-color: lightgrey;
        }

        .progress-max::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: var(--after-width, 10%);
            height: 100%;
            background-color: var(--color-compl);
        }
    }
}

.mobile-flight-menu {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    background-color: var(--color-bg);
    margin: 0;
    max-width: 100%;
    width: 50%;
    padding: var(--size-m);
    z-index: 10000;

    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: 0.2s;

    .mobile-flight-name-wrapper {
        padding-bottom: var(--size-xs);
        gap: var(--size-xl);

        .mobile-flight-icao {
            font-size: var(--size-m);
        }

        .mobile-flight-aircraft {
            color: grey;
        }
    }

    .mobile-flight-route {
        width: 100%;
        display: flex;
        align-items: stretch;
        gap: var(--size-m);
        padding-bottom: var(--size-xs);

        .mobile-flight-start,
        .mobile-flight-end {
            width: 100%;
            height: 100%;

            .mobile-flight-dep-iata,
            .mobile-flight-arr-iata {
                font-weight: 600;
                font-size: var(--size-s);
                flex: 1;
            }

            .mobile-flight-dep-name,
            .mobile-flight-arr-name {
                font-weight: 400;
                font-size: 14px;
                color: grey;
                flex: 1;
            }
        }
    }

    .progress-max {
        position: relative;
        height: 4px;
        width: 100%;
        background-color: lightgrey;
    }

    .progress-max::after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        width: var(--after-width, 50%);
        height: 100%;
        background-color: var(--color-compl);
    }
}

.controls {
    z-index: 10000;
    position: fixed;
    right: var(--size-s);
    bottom: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: fill;

    .nav-elements {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        gap: var(--size-xl);
        list-style-type: none;

        .nav-element-1, .nav-element-2 {
            width: var(--size-xl);
            height: var(--size-xl);
            backdrop-filter: blur(10px);
            padding: 5px;
            border-radius: 50%;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .searchField {
                display: none;
            }
        }

        #center {
            img{
                transform: rotate(30deg);
            }
        }

        .nav-element-2.mag-glass {
            width: auto !important;
            border-radius: 0 !important;
            
            img {
                display: none !important;
            }

            .searchField {
                display: flex !important;
                width: calc(5*var(--size-xl));
                margin: 0;
                padding: 0;
                font-size: var(--size-s);
                border: none;
                background: transparent;
                color: white;
                outline: none;
                border-bottom: 2px solid white;
            }
        }
    }
}

@media (max-width: 756px) {
    .flight-menu-container {
        display: none;
    }

    .mobile-flight-menu {
        width: 100%;

        .mobile-flight-name-wrapper {
            padding-bottom: var(--size-xs);
            gap: var(--size-xl);

            .mobile-flight-icao {
                font-size: var(--size-m);
            }

            .mobile-flight-aircraft {
                color: grey;
            }
        }

        .mobile-flight-route {
            width: 100%;
            display: flex;
            align-items: stretch;
            gap: var(--size-m);
            padding-bottom: var(--size-xs);

            .mobile-flight-start,
            .mobile-flight-end {
                width: 100%;
                height: 100%;

                .mobile-flight-dep-iata,
                .mobile-flight-arr-iata {
                    font-weight: 700;
                    font-size: var(--size-s);
                    flex: 1;
                }

                .mobile-flight-dep-name,
                .mobile-flight-arr-name {
                    font-weight: 400;
                    font-size: 14px;
                    color: grey;
                    flex: 1;
                }
            }
        }

        .progress-max {
            position: relative;
            height: 4px;
            width: 100%;
            background-color: lightgrey;
        }

        .progress-max::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: var(--after-width, 50%);
            height: 100%;
            background-color: var(--color-compl);
        }
    }

    .controls {
        bottom: var(--size-xl);
    }
}
